# Node dependencies
node_modules/

# dotenv environment files
.env

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS or editor-specific junk files
.DS_Store
Thumbs.db

# Optional: coverage reports, production builds, etc
coverage/
build/
